body{
    --main-gray: #F9FAFB;
    --light-gray: #E5E7EB;
    --dark-gray: #6B7280;
    --main-orange: #D3590B;
    --light-orange: #FFE8D9;
    --beige: #FFE8D9;
    --black: #0F0F0F;
    --red: #EF4444;
    --light-red: #FFE0E0;
    --yellow: #E08D00;
    --light-yellow: #FFF0D7;
    --green: #27AE60;
    --light-green: #F1FFF7;


    padding:0;
    margin:0;
    background: var(--main-gray);
}