.logFormWrapper{
    height: calc(100vh - 150px);
    width: 40vw;
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-gray);
}

.logFormWrapper .logo{
    width: 350px;
    height: 40px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.form .title{
    font-size: 48px;
    font-weight: 600;
    color: var(--main-orange);
    margin-bottom: 30px;
}

.form label{
    font-size: 18px;
    align-self: flex-start;
}

.form input{
    border: 1.5px solid #E5E7EB;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    margin: 10px 0 30px 0;
}

.formNameElement{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.formNameElement div{
    width: 50%;
}


.form button{
    height: 60px;
    width: 90%;
    font-size: 18px;
    color: white;
    background-color: var(--black);
    border: none;
    border-radius: 15px;
}

.switchFormBtn, .resetPassword{
    color: var(--main-orange);
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
}

.switchFormBtn{
    margin-left: 5px;
    background: none;
    border: none;
    font-size: 16px;
}

.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

@media (max-width: 1024px) {
    .logFormWrapper{
        width: 50vw;
    }

    .form{
        width: 80%;
    }
}

@media (max-width: 800px) {
    .logFormWrapper{
        width: 65vw;
        height: 70vh;
        margin: 7.5vh auto;
    }

    .logFormWrapper .logo{
        width: 300px;
        height: 32px;
    }

    .form .title{
        font-size: 40px;
    }

    .form label{
        font-size: 16px;
    }

    .form input{
        height: 40px;
        margin: 7.5px 0 25px 0;
    }

    .form button{
        height: 50px;
        width: 80%;
        font-size: 16px;

    }
}

@media (max-width: 500px) {
    .logFormWrapper{
        width: 90%;
        font-size: 14px;
    }

    .logFormWrapper .logo{
        width: 250px;
        height: 28px;
    }

    .form .title{
        font-size: 32px;
    }

    .form label{
        font-size: 14px;
    }

    .form input{
        height: 35px;
        margin: 7.5px 0 25px 0;
    }

    .form button{
        height: 40px;
        width: 80%;
        font-size: 14px;

    }
}

