.not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 192px);
    color: var(--main-orange);
    font-size: 24px;
}

.not-found a{
    margin-top: 100px;
    color: black;
}